DOCUMENT_GENERATION_DB_NAME=document_generation
DOCUMENT_GENERATION_DB_USER=document_generation
DOCUMENT_GENERATION_DB_PASSWORD=change-me
LIQUIBASE_COMMAND_URL=jdbc:postgresql://document-generation-db:5432/document_generation
LIQUIBASE_COMMAND_USERNAME=document_generation
LIQUIBASE_COMMAND_PASSWORD=change-me
LIQUIBASE_COMMAND_CHANGELOG_FILE=changelog/changelog-master.yaml
LIQUIBASE_COMMAND_SEARCH_PATH=.
